# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/progress-tracker-frontend/.next/
/progress-tracker-frontend/out/

# production
/build

# misc
.aws-sam
samconfig.toml
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# dependencies
/progress-tracker-frontend/node_modules
/progress-tracker-frontend/.pnp
.pnp.js

# testing
/progress-tracker-frontend/coverage

# production
/progress-tracker-frontend/build

# amplify
/progress-tracker-frontend/amplify
/progress-tracker-frontend/src/aws-exports.js
