name: Continuous integration

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]

jobs:
  cfn-nag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: stelligent/cfn_nag@master
      with:
        input_path: template.yml
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Audit packages
        run: npm --prefix "progress-tracker-frontend" audit --omit=dev
        env:
          CI: true

